<span style="font-size: 36px;">W4111_2025_002_1 - Introduction to Databases:<br>HW2B Common Tasks

<span style="font-size: 18px; color:red;">__Do not start this homework. It is in progress. We will announce when it is ready.__</span>

# Overview

# Initialization

In [1]:
import copy

In [2]:
import json

In [3]:
import pandas

In [4]:
# You should have installed the packages for previous homework assignments
#
import pymysql
import sqlalchemy

In [5]:
import numpy

In [6]:
# You have installed and configured ipython-sql for previous assignments.
# https://pypi.org/project/ipython-sql/
#
%load_ext sql

In [11]:
# This is a hack to fix a version problem/incompatibility  with some of the packages and magics.
#
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [7]:
# Make sure that you set these values to the correct values for your installation and 
# configuration of MySQL
#
db_user = "root"
db_password = "dbuserdbuser"

In [8]:
# Create the URL for connecting to the database.
# Do not worry about the local_infile=1, I did that for wizard reasons that you should not have to use.
#
db_url = f"mysql+pymysql://{db_user}:{db_password}@localhost?local_infile=1"

In [9]:
# Initialize ipython-sql
#
%sql $db_url

In [12]:
# Your answer will be different based on the databases that you have created on your local MySQL instance.
#
%sql show databases

 * mysql+pymysql://root:***@localhost?local_infile=1
40 rows affected.

[('$output_schema',),
 ('cannonical_project',),
 ('classic_models_olap_simple',),
 ('classicmodels',),
 ('columbia_model',),
 ('course_management',),
 ('course_student_coupons',),
 ('courseworks_videos',),
 ('db_book',),
 ('f2024_grades',),
 ('F24_examples',),
 ('f24_GoT',),
 ('f24_imdb_clean',),
 ('F24_IMDB_Raw',),
 ('f24_imdb_raw_new',),
 ('f24_project',),
 ('f24_project_clean',),
 ('fitness',),
 ('hw3b4bSolution',),
 ('import_web_data',),
 ('information_schema',),
 ('lahmansbaseballdb',),
 ('lahmansfast',),
 ('lecture_3_examples',),
 ('lor_data',),
 ('mysql',),
 ('Northwind',),
 ('northwind_final',),
 ('p1_database',),
 ('performance_schema',),
 ('pyspark',),
 ('s2025_examples',),
 ('sys',),
 ('testdb',),
 ('w4111_example_1',),
 ('w4111_f24_final',),
 ('w4111_f24_final_answers',),
 ('w4111_f24_final_answers_imdb',),
 ('w4111_final_exam_answers',),
 ('w4111_project',)]

In [13]:
from sqlalchemy import create_engine
default_engine = create_engine(db_url)

In [14]:
result_df = pandas.read_sql(
    "show databases", con=default_engine
)
result_df

                        Database
0                 $output_schema
1             cannonical_project
2     classic_models_olap_simple
3                  classicmodels
4                 columbia_model
5              course_management
6         course_student_coupons
7             courseworks_videos
8                        db_book
9                   f2024_grades
10                  F24_examples
11                       f24_GoT
12                f24_imdb_clean
13                  F24_IMDB_Raw
14              f24_imdb_raw_new
15                   f24_project
16             f24_project_clean
17                       fitness
18                hw3b4bSolution
19               import_web_data
20            information_schema
21             lahmansbaseballdb
22                   lahmansfast
23            lecture_3_examples
24                      lor_data
25                         mysql
26                     Northwind
27               northwind_final
28                   p1_database
29            performance_schema
30                       pyspark
31                s2025_examples
32                           sys
33                        testdb
34               w4111_example_1
35               w4111_f24_final
36       w4111_f24_final_answers
37  w4111_f24_final_answers_imdb
38      w4111_final_exam_answers
39                 w4111_project