<span style="font-size: 36px;">W4111_2025_002_1: Introduction to Databases:<br>Homework 4A</span>

# Overview

## Scope

The material in scope for this homework is:
- The content of lectures:
    - All material from lectures 1 to lecture 10.
    - This includes any material in the slides, even if not explicitly presented in lecture.
    - Any information provided or discussed in lectures, even if not in slides.
- The slides associated with the recommended textbook for
    - All material from the textbook slides that were in scope for HW 3A.
    - Chapter 4.
    - Chapter 5: Slides 1-4, slide 5.13, 5.18 - 5.27, 5.31 to the end.
    - Chapter 6.
    - Chapter 7: Slides 7.1 - 7.41, 7.89 to the end.
    - Chapter 12.
    - Chapter 13.
    - Chapter 14: 14.1 - 14.45, 14.51 - 14.66.
    - Chapter 15: 15.1 - 15.42, 15.44 - 15.47, 15.51 - 15.58.

## Submission Instructions

__Note to DFF:__ Create necessary links.

- Due date: 2025-April-19, 11:59 PM EDT on GradeScope.

- You submit on GradeScope. We will create a GradeScope submission for the homework.

- Your submission is a PDF of this notebook. You must tag the submission with locations in the PDF for each question. You must solve problems you experience producing a PDF including images. Please do not wait until the last minute.

There is a [post/mega-thread](https://edstem.org/us/courses/73023/discussion/6499372) on Ed Discussions that we will use to resolve questions and issues with respect to homework 4A.

## Brevity

| <img src="einstein-quote.jpg"> |
| :---: |
| __Brevity__ |

Students sometimes just write a lot of words hoping to get something right. We will deduct points if your answer is too long.

# Initialization

## Python Environment

In [3]:
import copy

In [4]:
import json

In [5]:
import pandas

In [6]:
# You should have installed the packages for previous homework assignments
#
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

In [7]:
import numpy

In [8]:
# You have installed and configured ipython-sql for previous assignments.
# https://pypi.org/project/ipython-sql/
#
%load_ext sql

In [9]:
# This is a hack to fix a version problem/incompatibility  with some of the packages and magics.
#
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [10]:
# Make sure that you set these values to the correct values for your installation and 
# configuration of MySQL
#
db_user = "root"
db_password = "dbuserdbuser"

In [11]:
# Create the URL for connecting to the database.
# Do not worry about the local_infile=1, I did that for wizard reasons that you should not have to use.
#
db_url = f"mysql+pymysql://{db_user}:{db_password}@localhost?local_infile=1"

In [12]:
# Initialize ipython-sql
#
%sql $db_url

In [13]:
# Your answer will be different based on the databases that you have created on your local MySQL instance.
#
%sql show tables from db_book

 * mysql+pymysql://root:***@localhost?local_infile=1
16 rows affected.

[('advisor',),
 ('classroom',),
 ('course',),
 ('department',),
 ('hw3_student',),
 ('hw3_student_simple_1',),
 ('hw3_student_simple_2',),
 ('instructor',),
 ('instructor_public',),
 ('prereq',),
 ('section',),
 ('section_room_summary',),
 ('student',),
 ('takes',),
 ('teaches',),
 ('time_slot',)]

In [14]:

default_engine = create_engine(db_url)

In [15]:
result_df = pandas.read_sql(
    "show tables from db_book", con=default_engine
)
result_df

       Tables_in_db_book
0                advisor
1              classroom
2                 course
3             department
4            hw3_student
5   hw3_student_simple_1
6   hw3_student_simple_2
7             instructor
8      instructor_public
9                 prereq
10               section
11  section_room_summary
12               student
13                 takes
14               teaches
15             time_slot

# Written Questions

## ER Modeling

_Question_

The following diagram uses the visual notation associated with the recommended textbook.

| <img src="./participation.jpg" width="800px"> |
| :---: |
| ER Modelling |

Both _customer_ and _shipper_ have partial participation in the relationship _is\_shipper._ In the relationship _is\_supplier_, _customer_ has total participation and _supplier_ has partial participation.

Convert the diagram to an equivalent Crow's Foot logical ER diagram. Please your diagram below.

_Answer_

| <img src="./thinking.jpg" width="400px"> |
| :---: |
| ER Modelling |

## Relational Algebra

_Question_

This question uses the [UIBK - R, S, T Dataset](https://dbis-uibk.github.io/relax/calc/local/uibk/local/0) from the RelaX Calculator. It depicts a semi-join 

R ⋉ S

| <img src="./semi-join.jpg" width="400px"> |
| :---: |
| Semi-Join |

In the answer section, write an equivalent relational algebra that uses only the operators π, σ, and ⨝. Put a screen shot of your execution in RelaX in the answer cell.

_Answer_

Place the text of your statement here ...

Replace the image.

| <img src="./semi-join.jpg" width="400px"> |
| :---: |
| Relational Algebra Answer |

## Triggers and Functions

_Question_

List 3 differences between triggers and functions.


List two differences between functions and procedures.

_Answer_

Place the text of your statement here ...

## Security Concepts

_Question_

Briefly explain the concepts of:
1. Digital identity
2. Authentication
3. Authorization
4. Roles
5. Privilege

_Answer_

Place the text of your statement here ...

## Recursion

_Question_

Despite massively freaking out Professor Ferguson, recursion in SQL queries provides a very valuable capability. What is that capability and provide a description of a query using Classic Models that would use the capability.

_Answer_

Place the text of your statement here ...

## Normalization

_Question_

Briefly explain:
1. Two evils/downsides of data redundancy.
2. Decomposition, Lossy and Lossless.
3. Functional dependencies.
4. The concept of the _closure_ of functional dependency, denoted F<sup>+</sup>.
5. What capability/result is achievable with 3NF but not BCNF?

_Answer_

Place the text of your statement here ...

## Disks and Storage

_Question_

Hard disk drives typically have many cylinders. Some database systems in some scenarios only use a subset of the cylinders and not others. Why?

Would the database prefer outer cyclinders or inner cylinder? Would the database prefer contiguous cylinders or would it have empty cyclinders in between ones that it would use?

Enter your answer below. Include a brief explanation of your answer.

_Answer_

## Database File Organization

_Question_

What are 5 approaches/designs for organizing records in a file?

Consider the following assumptions for a scenario:
1. The original logical model had a single table $Orders(orderId, customerId, orderDate, productCode, quantityOrdered)$. There would be one row/record for each product in an order.
2. For design reasons the designer split the table into two tables:
    1. $Orders(orderId, customerId, orderDate)$.
    2. $OrdersItem(orderId, productCode, quantityOrdered)$.
    3. Defined a view that recreated the original table definition.
4. The most common access pattern was to read the data through the view.

What record organization approach would you use and why?

_Answer_

Place your answer here.

## Buffer Replacement Policies

_Question_

A common buffer replacement policy/algorithm id is _least recently used (LRU)._ Give two query scenarios for which the buffer manager might use a different algorithm, in which one would it use. Explain your answer.

_Answer_

Place the text of your answer here ... ...

## Indexes

_Question_

Can a table have more than one _clustered index._? Why?

Does a _sparse index_ need to be clustered? Why?

_Answer_

Place the text of your answer here ...

# Practical Questions

## Some Fun with SQl Functions

### Fun with Strings

__Question__

You will use Classic Models for this question.

There is a strange "dependency" in the schema for _products._ The ```productCode``` begins with strings like ```S12_``` and ```S18_```. A little examination indicates that this prefix appears to be derived from the ```productScale``` column's value. Unfortunately, this is NOT always the case. Write a SQL query that produces the following table.

| <img src="productScaleQuery.jpg"> |
| :---: |
| __Analyzing Product Scale__ |

The fields are:
- ```productCode``` is the value from ```products```.
- ```productCodeScale``` is the number in ```productCode``` in between ```S``` and ```_```.
- ```productCodeNumber``` is the value in ```productCode``` after the ```_```.
- ```productScale``` is the value from ```products```.
- ```productScaleNumerator``` is the value in ```produceScale``` before ```:```.
- ```productScaleDenominator``` is the value in ```produceScale``` after ```:```.
- ```computedProductScale``` is ```productScaleNumerator/productScaleDenominator```.

The result contains rows for which ```productCodeScale != computedProductScale```.

Write a query that produces the table.

__Answer__

Write and execute your query below.

In [2]:
%%sql

### Fun with Dates

__Question__

You will use Classic Models for this question.

The table ```orders``` has columns:
1. ```customerNumber```
2. ```orderNumber```
3. ```orderDate```
4. ```requiredDate```
5. ```shippedDate```

Write a query that produces a table of the form ```customerOrderSummary``` with
1. ```customerNumber```
2. ```noOfOrders``` is the number of orders from the customer.
3. ```minimumShippingDays``` is the minimum number of days between ```shippedDate``` and ```orderDate```
4. ```maximumShippingDays``` is the maximum number of days between ```shippedDate``` and ```orderDate```
3. ```averageShippingDays``` is the average number of days between ```shippedDate``` and ```orderDate```

The table should be ordered by ```averageShippingDays``` descending. The various number of days must be an integer.

For reference, the first 10 rows in the result is

| <img src="shippingDaysResult.jpg"> |
| :---: |
| __Shipping Days Information__ |

__Answer__

Write and execute your query below.

In [ ]:
%%sql

### Fun



| <img src="fun.jpg" width="600px"> |
| :---: |
| __Fun__ |

## A Lot Less Fun with Functions, Procedures and Triggers

_Setup_


You will use the database associated with the recommended textbook for this question. The tables in scope for the question are:
1. ```takes```
2. ```section```
3. ```classroom```

The following SQL script creates a copy of the data that you can use for this question.

In [21]:
%%sql

drop schema if exists hw4;

create schema hw4;

use hw4;

create table student like db_book.student;
create table section like db_book.section;
create table classroom like db_book.classroom;
create table takes like db_book.takes;

insert into student select * from db_book.student;
insert into section select * from db_book.section;
insert into classroom select * from db_book.classroom;
insert into takes select * from db_book.takes;

update classroom set capacity=6;

create or replace view section_room_summary as
with one as (select *
             from section
                      join classroom using (building, room_number)),
two as (
        select concat(course_id, '_', sec_id, '_', semester, '_', `year`) as section_code,
               one.* from takes join one using(course_id, sec_id, semester, `year`)
    ),
three as (
    select section_code, building, room_number, capacity, count(*) as no_of_students
    from two
    group by section_code, building, room_number
)
select * from three;

create table if not exists hw4.section_waitlist
(
    ID              varchar(5)                         not null,
    course_id       varchar(8)                         not null,
    sec_id          varchar(8)                         not null,
    semester        varchar(6)                         not null,
    year            decimal(4)                         not null,
    added_timestamp datetime default CURRENT_TIMESTAMP not null,
    primary key (ID, course_id, sec_id, semester, year)
);

create index course_id
    on hw4.section_waitlist (course_id, sec_id, semester, year);

 * mysql+pymysql://root:***@localhost?local_infile=1
6 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
15 rows affected.
15 rows affected.
5 rows affected.
22 rows affected.
5 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [22]:
%sql select * from section_room_summary;

 * mysql+pymysql://root:***@localhost?local_infile=1
14 rows affected.

[('CS-101_1_Fall_2017', 'Packard', '101', Decimal('6'), 6),
 ('CS-101_1_Spring_2018', 'Packard', '101', Decimal('6'), 1),
 ('FIN-201_1_Spring_2018', 'Packard', '101', Decimal('6'), 1),
 ('MU-199_1_Spring_2018', 'Packard', '101', Decimal('6'), 1),
 ('BIO-101_1_Summer_2017', 'Painter', '514', Decimal('6'), 1),
 ('BIO-301_1_Summer_2018', 'Painter', '514', Decimal('6'), 1),
 ('HIS-351_1_Spring_2018', 'Painter', '514', Decimal('6'), 1),
 ('CS-190_2_Spring_2017', 'Taylor', '3128', Decimal('6'), 2),
 ('CS-319_2_Spring_2018', 'Taylor', '3128', Decimal('6'), 1),
 ('CS-347_1_Fall_2017', 'Taylor', '3128', Decimal('6'), 2),
 ('EE-181_1_Spring_2017', 'Taylor', '3128', Decimal('6'), 1),
 ('CS-319_1_Spring_2018', 'Watson', '100', Decimal('6'), 1),
 ('PHY-101_1_Fall_2017', 'Watson', '100', Decimal('6'), 1),
 ('CS-315_1_Spring_2018', 'Watson', '120', Decimal('6'), 2)]

_question_

First, write a trigger on ```takes``` that prevents an insert ```takes``` if an ```insert``` would exceed the room capacity. You can use the view above in your trigger.

In [18]:
%%sql

/*
    Put your trigger definition here.
*/

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.

[]

In [19]:
%%sql

/*
    Test your trigger allowing an insert.
*/

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.

[]

In [20]:
%%sql

/*
    Test your trigger preventing an insert.
*/

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.

[]

The next task is to implement a procedure. The procedure's input are:
1. A string encoding of a section's information, e.g. ```CS-101_1_Spring_2018```.
2. A student's ID, e.g. ```00128```.

The procedures:
1. Validates that the student ID exists.
2. Computes the ```course_id, sec_id, semester``` and ```year``` from the input string.
3. Ensures that enrolling the student will not exceed the capacity of the classroom. If the enrollment would exceed the capacity,
the procedure adds the student to the ```section_waitlist``` table.

The following is the signature of the procedure. You should implement and test the procedure.

In [23]:
%%sql

drop procedure if exists hw4.enroll_student;

create
    definer = root@localhost procedure hw4.enroll_student(IN section_code varchar(32), IN student_id varchar(16))
begin
-- todo: implement
end;

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.
0 rows affected.

[]