<dir style="font-size: 36px;">W4111 - Introduction to Databases: Lecture 7 Examples</dir>

# Environment Setup

In [1]:
import pandas

In [2]:
import sqlalchemy
from sqlalchemy import create_engine, text

In [3]:
import pymysql

In [4]:
import json

In [5]:
db_url = "mysql+pymysql://root:dbuserdbuser@localhost"

In [6]:
%load_ext sql

In [7]:
%sql $db_url

In [8]:
# This is a hack to fix a version problem/incompatibility  with some of the packages and magics.
#
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [9]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

In [10]:
connection = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True
)

# Transactions

## Some Setup

In [11]:
alice_connection = pymysql.connect(
    host="localhost",
    port=3306,
    user="alice",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor,
    #
    # Do not automatically commit after each SQL statement.
    #
    autocommit=False
)

In [12]:
bob_connection = pymysql.connect(
    host="localhost",
    port=3306,
    user="bob",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor,
    #
    # Do not automatically commit after each SQL statement.
    #
    autocommit=False
)

A helper function to run an SQL statement -- You will find this in the interactive_app/services/mysql_data_service.py in the project template.

In [13]:
    def run_q(sql, args=None, con=None, fetch=False):
        """
        A function that "simplifies" making pymysql SQL calls to the DB.
        :param sql: A SQL statement that may have parameters.
            https://pynative.com/python-mysql-execute-parameterized-query-using-prepared-statement/
        :param args: Arguments for the parameters in the query.
        :param con: A connection for sending commands to the DB.
        :param fetch: If True, return data using fetchall(). If false, return the result of execution.
            https://pymysql.readthedocs.io/en/latest/modules/cursors.html
        :return: Either the result of cursor.execute() for cursor.fetchall()
        """

        con_created = False
        result = None

        # Create a connection if the parameter was None.
        if con is None:
            con = self.get_connection()
            con_created = True

        try:
            cursor = con.cursor()

            # Mogrify inserts args into the query parameters to form the string that will be sent to DB.
            # Printing the string is lazy. We should use logging.
            # An example is: https://philstories.medium.com/fastapi-logging-f6237b84ea64
            full_sql = cursor.mogrify(sql, args)
            print("*** full_sql = ", full_sql, " ***")

            # Execute query with args. The result is normally the number of affected rows.
            #
            res = cursor.execute(sql, args)

            # Get the data if requested.
            if fetch:
                result = cursor.fetchall()
            else:
                result = res

        # This is a sloppy approach to exception handling. Catching all exceptions is lazy and too broad.
        # We catch the exception to ensure that we close the connection on an error.
        #
        except Exception as e:
            print("e = ", e);

        # Close the connection if we created it.
        if con_created:
            con.close()

        return result

## Simple Example

### Example 1

In [22]:
alice_connection.rollback()
bob_connection.rollback()

In [23]:
result = run_q(
    "set transaction isolation level serializable;",
    args=None,
    con=alice_connection,
    fetch=True
)

*** full_sql =  set transaction isolation level serializable;  ***

In [24]:
result = run_q(
    "set transaction isolation level serializable;",
    args=None,
    con=bob_connection,
    fetch=True
)

*** full_sql =  set transaction isolation level serializable;  ***

In [25]:
alice_connection.begin()

In [26]:
result = run_q(
    "select * from s2025_examples.simple_account where ID=1",
    args=None,
    con=alice_connection,
    fetch=True
)
result

*** full_sql =  select * from s2025_examples.simple_account where ID=1  ***

[{'ID': 1, 'balance': 100.0}]

In [27]:
result = run_q(
    "update s2025_examples.simple_account set balance=66 where ID=1",
    args=None,
    con=alice_connection,
    fetch=False
)

*** full_sql =  update s2025_examples.simple_account set balance=66 where ID=1  ***
e =  (1205, 'Lock wait timeout exceeded; try restarting transaction')

In [28]:
result

Now, go into DataGrip and try to query the table as root, or any other account.
1. Turn off autocommit.
2. Set isolation level.
3. Begin transaction
4. Run SELECT * from s2025_examples.simple_account;

The DataGrip query console should "Hang."

In [21]:
alice_connection.rollback()

The DataGrip query will not work, and the update did not happen.

This is an example of:
1. Isolation: The user root could not read data that Alice was in the middle of updating.
2. Since Alice "failed," the UPDATE did npt occur.

The semantics are "presume rollback." If something fails or timesout, the transaction automatically rollsback.

In [ ]:
result = run_q(
    "select * from s2025_examples.simple_account where ID=1",
    args=None,
    con=bob_connection,
    fetch=True
)

### Example 2

In [ ]:
result = run_q(
    "set transaction isolation level serializable;",
    args=None,
    con=bob_connection,
    fetch=True
)

In [ ]:
alice_connection.begin()

In [ ]:
result = run_q(
    "select * from s2025_examples.simple_account where ID=1",
    args=None,
    con=alice_connection,
    fetch=True
)

In [ ]:
result

In [ ]:
result = run_q(
    "update s2025_examples.simple_account set balance=66 where ID=1",
    args=None,
    con=alice_connection,
    fetch=False
)

In [ ]:
result

In [ ]:
Now, go into DataGrip and try to query the table as root, or any other account.
1. Turn off autocommit.
2. Set isolation level.
3. Begin transaction
4. Run SELECT * from s2025_examples.simple_account;

The DataGrip query console should "Hang."

In [ ]:
alice_connection.commit()

The query will in DataGrip will complete and return the updated value.