<span style="font-size: 36px;">W4111_2025_002_1: Introduction to Databases:<br>Homework 2</span>

# Overview

## Scope

The material in scope for this homework is:
- The content of lectures 1, 2 and 3.
- The slides associated with the recommended textbook for
    - Chapter 1.
    - Chapter 2.
    - Chapter 3.
    - Chapter 4 slides 4.4 to 4.13, 4.36 to 4.50 except for slide 4.35 (Transactions).
    - Chapter 6 slides 6.1 to 6.53.

## Submission Instructions

- Due date: 2025-Feb-23, 11:59 PM EDT on GradeScope.

- You submit on GradeScope. We will create a GradeScope submission for the homework.

- Your submission is a PDF of this notebook. You must tag the submission with locations in the PDF for each question.

There is a [post/mega-thread](https://edstem.org/us/courses/73023/discussion/6136853) on Ed Discussions that we will use to resolve questions and issues with respect to homework 2.

## Brevity

| <img src="einstein-quote.jpg"> |
| :---: |
| __Brevity__ |

Students sometimes just write a lot of words hoping to get something right. We will deduct points if your answer is too long.

# Initialization

In [1]:
import copy

In [2]:
import json

In [3]:
import pandas

In [4]:
# You should have installed the packages for previous homework assignments
#
import pymysql
import sqlalchemy

In [5]:
import numpy

In [6]:
# You have installed and configured ipython-sql for previous assignments.
# https://pypi.org/project/ipython-sql/
#
%load_ext sql

In [7]:
# This is a hack to fix a version problem/incompatibility  with some of the packages and magics.
#
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [8]:
# Make sure that you set these values to the correct values for your installation and 
# configuration of MySQL
#
db_user = "root"
db_password = "dbuserdbuser"

In [9]:
# Create the URL for connecting to the database.
# Do not worry about the local_infile=1, I did that for wizard reasons that you should not have to use.
#
db_url = f"mysql+pymysql://{db_user}:{db_password}@localhost?local_infile=1"

In [10]:
# Initialize ipython-sql
#
%sql $db_url

In [12]:
# Your answer will be different based on the databases that you have created on your local MySQL instance.
#
%sql show tables from db_book

 * mysql+pymysql://root:***@localhost?local_infile=1
11 rows affected.

[('advisor',),
 ('classroom',),
 ('course',),
 ('department',),
 ('instructor',),
 ('prereq',),
 ('section',),
 ('student',),
 ('takes',),
 ('teaches',),
 ('time_slot',)]

In [13]:
from sqlalchemy import create_engine
default_engine = create_engine(db_url)

In [14]:
result_df = pandas.read_sql(
    "show tables from db_book", con=default_engine
)
result_df

   Tables_in_db_book
0            advisor
1          classroom
2             course
3         department
4         instructor
5             prereq
6            section
7            student
8              takes
9            teaches
10         time_slot

# Written Questions

## Data Types and Domains

_Question_

Columbia University has an online directory of classes. One of the properties in the data defining a class is the section key. The section key for our database class this spring is “20251COMS4111W002.” The section key for one of this spring’s Calculus I classes is “20251MATH1101V002.” The “data type” for section key is clearly a text string. The domain of this attribute is related to the data type but is different. Briefly explain the concept of a domain and how it differs from a data type. Use  section key and your knowledge of Columbia University to provide examples of the difference.

_Answer_

Place your answer here.

## Associative Entity

_Question_

When modeling a relationship between two entity sets using Crow’s Foot Notation or implementing in SQL, what are the two reasons that you must use an associative entity?

_Answer_

Please your answer here.

## Recognizing Entity Types

_Question_

Examine the schema/SQL DDL for the sample database associated with the recommended textbook. Which tables are associative entities, and which tables are weak entities? Briefly explain your answer.

_Answer_

Please your answer here.

## Atomic Domains

_Question_

The lecture 3 slides contained the following:
- “Every domain must contain atomic values(smallest indivisible units) which means composite and multi-valued attributes are not allowed."
- This is sometimes known as “First Normal Form.” We will cover normalization later in the semester.

Briefly explain this concepts and give examples of atomic and non-atomic domains using people's names.

_Answer_

Please your answer here.

## arity

_Question_

For set operations in the relational algebra, the relations must have the same arity. Briefly explain the concept of arity. The relational scheme definitions for student and instructor for the data schema associated with the recommended textbook are $student(ID, name, dept\_name, tot\_cred)$ and $instructor(ID, name, dept\_name, salary)$. Do these relations have the same arity?

_Answer_

Please your answer here.

## Complex Attributes

_Question_

| <img src="complex_attributes.jpg"> |
| :---: |
| __Typical Input Data__ |

There are six attributes in the sample data above.
1. For each attribute, specify if the attribute is: _simple_ or _composite,_ _single valued_ or _multi-valued_ and _derived_ or _not serived._ Explain your choices.
2. For which attributes would you use a ```check constraint``` and explain the constraint.

_Answer_

Please your answer here.

## Relational Algebra Assignment Operator

_Question_

One explanation for the assignment operator is, "With the assignment operation, a query can be written as a sequential program consisting of a series of assignments followed by an expression whose value is displayed as the result of the query."

Use the assignment operator to write a program using assignments to rewrite the query

```
π course_id, course_title, prereq_course_id, prereq_title
(
	(π course_id, course_title←title, prereq_id (course ⨝ prereq)
)
⨝ prereq_id=prereq_course_id
(π prereq_course_id←course_id, prereq_title←title (course)))
```

What are two benefits of writing complex queries using a set of statements?

_Answer_

Please your answer here.

## Constraints

_Question_

What are four types of constraints that may apply to a single relation/table? What type of constraint can apply to more than one table?

Consider the partial logical schema below. A student _may_ or _may not_ have an advisor.

Briefly explain which constraints you would apply.

| <img src="constraints.jpg" width="700px"> |
| :---: |
| __Constraints__ |

_Answer_

Please your answer here.

## SELECT versus UNION

_Question_

In SQL, ```SELECT``` and ```UNION``` behave differently with respect to duplicates in the result set. Explain the difference.

Taking a step back, if tables have primary keys, how are duplicates in a query result even possible?

_Answer_

Please your answer here.

## Associative Entity

_Question_

Consider the query below. What is required of the result of the two subqueries? What is the name for the type of subquery?

```
select
    s_id as student_id,
    (select name from student where student.ID=s_id) as student_name,
    i_id as advisor_id,
    (select name from instructor where instructor.ID=i_id) as instructor_name
from
    advisor;
```

_Answer_

Please your answer here.

# Practical Questions

## Set Operations in SQL

_Question_

Using the sample data associated with the recommended textbook,
1. What is wrong with the query below.
2. Write and execute a query that produces accurate results that contains all of the information.

```
select * from student where dept_name='Comp. Sci.'
union
select * from instructor where dept_name='Comp. Sci.'
```

_Answer_

Please place and execute your SQL statement below.

In [ ]:
%%sql

## Set Operations in Relational Algebra

_Question_

The query below produces information about instructors that are not advisors. You must write an equivalent relational algebra expression that contains only set operators and project. Replace the query and screen capture below with you answer.

_Answer_

```
/*
    Replace the statement below with your answer.
*/

π ID←ID, name←name (σ i_id=null (instructor ⟕ ID=i_id advisor))
```

Replace the images below with your screenshot.

| <img src="relational_answer_3.jpg" width="700px"> |
| :---: |
| __Spring Courses: Your Answer__ |

## ER-Modeling

_Question_

Consider the following scenario.
1. There are two entity types:
    1. ```person``` has attributes ```last_name, first_name``` and ```UNI.``` The primary key is ```UNI.```
    2. ```phone_number``` has the attributes ```country_code, number``` and ```extension.``` The primary key is a composite of all 3 attributes.
2. There is one relationships -- ```has_a``` is a relationship between a ```person``` and ```phone_number.```
   - A ```person``` may be related to 0, 1 or many ```phone_numbers.```
   - A ```phone_number``` may be related to 0, 1 or many ```persons.```
   - Each relationship has 3 properties:
       1. ```kind``` is in the set ```{home, mobile, work, voicemail, supporting_admin}.``` It is possible that the ```kind``` is not known.
       2. ```valid_start_date``` defines when the association started.
       3. ```valid_end_date``` defines when the association ended.

Using Crow's Foot Notation and a tool like Lucidchart, draw a logical ER diagram modeling the relationship. You may add notes/comments that explain decisions you make.

_Answer_

Replace the images below with your screenshot.

| <img src="sample_er.jpg" width="700px"> |
| :---: |
| __Spring Courses: Your Answer__ |

## ER Diagram to DDL

_Question_

| <img src="er_to_ddl_question.jpg" width="900px"> |
| :---: |
| __ER Diagram to DDL__ |

Consider the preceding, __approximate__ ER logical model diagram. The diagram is approximate because the definition below of the model may require minor changes in the implemented DDL relative to the diagram. For example, you may have to add constraints, columns not shown, etc.

The semantics/requirements are below.

A sample ```person``` record for me in ```person``` would be in the form 
```
{dff9, Ferguson, Donald, Faculty, donald.ferguson@cs.columbia.edu, dff9@columbia.edu}
```
- The default email is always of the form ```uni@columbia.edu```. 
- Preferred email is always ```UNIQUE``` but a person _may not have_ a preferred email.
- The possible values for ```kind``` are one of ```{Student, Faculty, Staff}```.

A sample ```course``` record for our _Intro. to Databases_ course would be in the form
```
{COMS, W, 4111, Introduction to Databases, OMG! This class is terrifying., COMSW4111}
```
- ```dept_code``` is always 4 characters and will not contain a digit, space, -, or _
- ```faculty_code``` is one of ```{W, C, E, B, G}```.
- ```course_no``` is always 4 digits and cannot begin with a 0.
- ```full_course_no``` is the concatenation of ```dept_code, faculty_code, course_no```.

A sample ```section``` for our session of COMSW4111 would be
```
{11969, COMSW4111, 002, 1, 2025, COMSW4111_002_1_2025}
```
- ```call_no``` is always 5 digits and may begin with 0.
- ```course_no``` is the same as ```full_course_no``` in ```course```.
- ```section_no``` is always 3 characters. It can be 3 digits and may start with 0. Or, it can be of the form ```V02```, that is starts with ```V``` and has two digits.
- ```year``` has the obvious meaning and constraints.
- ```section_key``` is the concatenation of the fields with the _ delimiter.

A sample ```person_section``` for me would be
```
{dff9, 11969, instructor, 20250125, 20250502}
```
- The ```role``` is one of ```{instructor, student, TA, auditor}```. A person may have nore than one ```role``` in a course.
- The ```start_date``` must be before the ```end_date```.

Put, execute and test your DDL in the code cells below. You can explain assumptions and changes in the markdown cell that precedes the code cells.

_Answer_

Place you explanatory notes on design choices and assumption in this markdown cell.

Please place and execute your SQL statement below.

In [ ]:
%%sql
/*
    DDL statements.
*/

Place some ```SELECT``` and ```INSERT``` SQL statements below that demonstrate the correctness of your schema implementation. You will likely need more than 3 tests. When you ask me how many tests you should write, I am going to respond, "Really? You need to do enough tests to show that your DDL is correct."

In [ ]:
%%sql
/*
    Test 1 with explanation.
*/

In [ ]:
%%sql
/*
    Test 1 with explanation.
*/

In [ ]:
%%sql
/*
    Test 1 with explanation.
*/

## SQL DML

_Question_

Write an SQL query that uses subqueries and does not use ```JOIN``` to produce a table of the form:
- ```student_id```
- ```student_name```
- ```student_dept_name```
- ```section_key```, which is a concatenation of ```course_id, sec_id, semester, year``` and uses ```_``` as the delimeter.

The result should only contain students in the ```'Comp. Sci.'``` department.

You should be able to figure this out from the description and examining the ```db_book``` data you installed. But, to simplify:
1. Use the tables ```takes``` and ```student```.
2. The result of my implementation is below.

| <img src="sql_dml_answer.jpg" width="800px"> |
| :---: |
| __Query Result__ |

_Answer_

In [ ]:
%%sql
/*
    Write and execute your answer.
*/